body {
  background-color: #363636;
}

.container img {
  width: 200px; /* Adjust the width as needed */
  margin-right: 20px; /* Add margin between the image and the statement */
}

.container .intro-statement {
  flex: 1; /* Allow the statement to grow and fill the remaining space */
  height: 512px;
  width: 512px;
}

#intro-text {
  text-align: center;
  color: rgba(255, 255, 255, 0.96);
}

#large-text {
  font-size: x-large;
  margin-top: 200px;
  margin-right: 20px;
}

#small-text {
  font-size: small;
  margin-top: 50px;
}

.navbar {
  background-color: #100f10;
  color: #c651cd;
}

#nav_buttons {
  display: flex;
  justify-content: space-around;
  margin-left: 80%;
}

#start {
  margin-left: 10px;
}

#Home {
  margin-left: 700px;
}

#container {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

#signup-box {
  display: none;
  background-color: #1b1b1b;
  width: 350px;
  height: 400px;
  border: 1px solid black;
  border-radius: 10%;
}

.login-box {
  display: none;
  background-color: #1b1b1b;
  width: 350px;
  height: 400px;
  border: 1px solid black;
  border-radius: 20px;
}

.username {
  width: 280px;
  margin-left: 30px;
  margin-top: 100px;
  position: absolute;
}

.password {
  width: 280px;
  margin-left: 30px;
  margin-top: 160px;
  position: absolute;
}

.login-button {
  margin-top: 300px;
  padding-left: 120px;
  padding-right: 120px;
  background-color: #8739f9;
  border: 1px solid black;
}

#piggy_bank {
  display: none;
  background-color: #363636;
  width: 600px;
  height: 450px;
  /* border: 1px solid black; */
  border-radius: 20px;
}

#grid_container {
  height: 450px;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1.5fr;
  grid-template-rows: 1fr 1fr;
  background-color: #363636;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  align-items: center;
  background-color: #242424;
  /* border: 1px solid black; */
  border-radius: 20px;
}

.goal {
  grid-column: span 2;
}

.trans_history {
  max-height: 450px;
  grid-row: span 2;
}

.transaction {
  position: relative;
  background-color: #1b1b1b;
  height: 60px;
  width: 80%;
  margin-left: 10px;
  margin-top: 10x;
  color: #8739f9;
  font-size: small;
  border-radius: 20px;
}

#transaction_input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.trans_input {
  grid-column: span 2;
  order: 1;
}

#trans_inputAndButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.trans_amount {
  margin-bottom: 50px;
}

#trans_buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

#goal-bar {
  background-color: #8739f9;
  height: 50px;
  margin-left: 0px;
  border-radius: 20px;
  max-width: 100%;
}
.goal_info {
  background-color: #1b1b1b;
  height: 50px;
  width: 80%;
  color: #8739f9;
  text-align: center;
  margin-left: 10px;
  border-radius: 20px;
}

#trans_amount {
  width: 280px;
  margin-left: 0px;
  margin-top: 30px;
  position: absolute;
}

.transaction-button {
  margin-left: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid black;
}

#deposit-button {
  margin-left: 0px;
}

#withdrawal-button {
  margin-left: 48px;
}

p {
  margin: 0;
  padding-left: 15px;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-weight: bold;
}
